.main {
  padding: 8rem 2.8rem;
  background-color: hsl(var(--background));
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  border-radius: 1rem;
  &_form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &_media {
    background-color: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.8rem 1.6rem;
    align-self: start;
  }
}

.title {
  margin-bottom: 4rem;
}

.highlight {
  color: hsl(var(--secondary-foreground));
}

.icon {
  fill: hsl(var(--foreground));
  width: 3rem;
  transition: 0.15s ease;
}

.link {
  display: block;
  cursor: pointer;
  transition: 0.15s ease;
  &:hover > .icon {
    fill: hsl(var(--primary) / 0.9);
  }
}
