@use "../abstracts" as *;

.main {
  padding: 8rem 2.8rem;
  background-color: hsl(var(--background));
  min-height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
}

.highlight {
  color: hsl(var(--secondary-foreground));
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1 1 30rem;
}

.title {
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 1rem;
}

.imageContent {
  position: relative;
  background-color: hsl(var(--primary));
  flex: 0 1 35rem;
  height: 50rem;
  box-shadow: 87px -87px 78px -100px hsl(var(--primary));
}

.image {
  position: absolute;
  top: -5rem;
  width: 100%;
  height: calc(100% + 5rem);
  object-fit: cover;
  object-position: center top;
  filter: grayscale(100%);
}
