@use "../abstracts" as *;

.main {
  padding: 8rem 2.8rem;
  background-color: hsl(var(--background));
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  @include breakpoint(x-small) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.title {
  margin-bottom: 4rem;
  color: hsl(var(--secondary-foreground));
}

.modal {
  &_title {
    font-size: var(--large);
    font-weight: 700;
  }
  &_img {
    max-height: 50rem;
    max-width: 100%;
    object-fit: contain;
  }
  &_link {
    font-size: var(--small);
  }
}
