@use "../abstracts" as *;

.main {
  padding: 8rem 2.8rem;
  background-color: hsl(var(--background));
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  @include x-small {
    grid-template-columns: 1fr 1fr;
  }
  @include medium {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.title {
  margin-bottom: 4rem;
  color: hsl(var(--secondary-foreground));
}

.project {
  align-self: start;
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  border: 1px solid hsl(var(--border));
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.15s ease;
  &_img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
  &_text {
    padding: 2.4rem 1.6rem;
  }
  &_title {
    font-size: var(--large);
    font-weight: 700;
    color: hsl(var(--secondary-foreground));
    margin-bottom: 2rem;
  }
  &_tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    align-items: center;
    font-size: var(--small);
    font-weight: 800;
    margin-top: 1.2rem;
  }
  &_date {
    font-weight: 700;
    color: hsl(var(--secondary-foreground));
    margin-top: 1.6rem;
  }
  :hover {
    background-color: hsl(var(--accent));
  }
}
