@use "../abstracts" as *;

.main {
  padding: 8rem 3.5rem;
  background-color: hsl(var(--background));
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include x-small {
    flex-direction: row;
  }
}

.highlight {
  color: hsl(var(--secondary-foreground));
}

.links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  border: 1px solid hsl(var(--border));
  border-radius: 5px;
  padding: 1rem 2rem;
}
