@use "../breakpoints" as *;

.main {
  padding: 8rem 2.8rem;
  background-color: hsl(var(--background));
  min-height: 100vh;
}

.title {
  margin-bottom: 4rem;
  color: hsl(var(--secondary-foreground));
}

.intro {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.skill {
  font-size: var(--16);
  font-weight: 600;
  color: hsl(var(--card-foreground));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  @include breakpoint(x-small) {
    padding: 2.4rem;
    gap: 2.4rem;
  }
  &_iconContent {
    @include breakpoint(x-small) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &_icon {
    width: 4rem;
    height: 4rem;
    @include breakpoint(x-small) {
      width: 10rem;
      height: 10rem;
    }
  }
  & > :nth-child(2) {
    flex-grow: 1;
  }
}
