:root {
  // ### Couleurs de base :
  --background: 216 13% 15%;
  --foreground: 219 18% 71%;
  // ### Couleurs "atténuées" (Muted):
  --muted: 216 12% 19%;
  --muted-foreground: 216 12% 69%;
  // ### Popover (bulles d’information ou menus contextuels) :
  --popover: 216 13% 12%;
  --popover-foreground: 219 18% 81%;
  // ### Card (cartes ou panneaux) :
  --card: 216 13% 13%;
  --card-foreground: 219 18% 76%;
  // ### Bordures et champs d’entrée :
  --border: 216 3% 20%;
  --input: 216 3% 23%;
  // ### Couleurs principales et secondaires :
  --primary: 219 18% 81%;
  --primary-foreground: 219 18% 21%;
  --secondary: 219 8% 25%;
  --secondary-foreground: 219 8% 85%;
  // ### Accentuation et états destructifs :
  --accent: 216 13% 30%;
  --accent-foreground: 216 13% 90%;
  --destructive: 3 95% 48%;
  --destructive-foreground: 0 0% 100%;
  // ### Anneaux de focus :
  --ring: 219 18% 81%;

  --h1: clamp(3.5rem, 5vw, 6rem);
  --h2: clamp(3rem, 4vw, 4.5rem);
  --h3: clamp(2.5rem, 4vw, 3.5rem);
  --h4: clamp(2rem, 3vw, 2.8rem);
  --h5: clamp(1.8rem, 3vw, 2.2rem);
  --h6: clamp(1.6rem, 2.5vw, 1.8rem);
  --p: clamp(1.4rem, 3vw, 1.6rem);
}
