@use "../abstracts" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: $tertiary500;
  padding: 4rem;
}

.label {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: $tertiary500;
  padding: 0 1rem;
  transition: all 0.3s;
}

.row {
  position: relative;
}

.input {
  background-color: $tertiary500;
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  border: 0.1rem solid $tertiary100;
  color: #fff;
  &_error {
    border-color: $danger;
  }
  &:focus + .label {
    transform: scale(0.8) translate(-1.5rem, -2.5rem);
  }
}

.focus {
  transform: scale(0.8) translate(-1.5rem, -2.5rem);
}

.textarea {
  @extend .input;
  height: 10rem;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  &_error {
    color: $danger;
  }
  &_success {
    color: $success;
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -2rem;
  color: $danger;
  font-size: 1.4rem;
}

.button {
  width: 20rem;
}
