@use "../abstracts" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.label {
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  background-color: hsl(var(--card));
  padding: 0 0.8rem;
  transition: all 0.3s;
  @include medium {
    top: 1.4rem;
  }
}

.row {
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  padding: 0.8rem 2rem;
  background-color: hsl(var(--card));
  border: 0.1rem solid hsl(var(--input));
  color: hsl(var(--primary));
  &_error {
    border-color: hsl(var(--destructive));
  }
  &:focus + .label {
    transform: scale(0.9) translate(-15px, -28px);
  }
}

.focus {
  transform: scale(0.9) translate(-15px, -28px);
}

.textarea {
  @extend .input;
  height: 10rem;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  color: hsl(var(--primary));
  &_error {
    color: hsl(var(--destructive));
  }
  &_success {
    color: var(--accent);
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -2rem;
  color: hsl(var(--destructive));
  font-size: 1.4rem;
}

.button {
  @include x-small {
    width: 20rem;
  }
}
