@use "../abstracts" as *;

.main {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: flex-start;
  background-color: $tertiary;
  padding: 0 3.5rem;
}

.link {
  display: block;
  color: $text1;
  padding: 2rem;
}

.activeLink {
  background-color: black;
}
