@use "../abstracts" as *;

.main {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: flex-start;
  background-color: hsl(var(--muted));
  padding: 0 2.8rem;
}

.link {
  display: block;
  padding: 1.6rem 2.4rem;
}

.activeLink {
  background-color: hsl(var(--background));
}
