.main {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(var(--muted));
  padding: 0 2.8rem;
}

.logo {
  width: 100%;
  &_content {
    flex: 0 0 7rem;
  }
}

.link {
  display: block;
  padding: 1.6rem 2.4rem;
  color: hsl(var(--foreground));
}

.activeLink {
  background-color: hsl(var(--background));
}
