@use "../abstracts" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
  background-color: $secondary;
}

.icon {
  width: 3.4rem;
  height: 3.4rem;
  color: $text3;
}
