@use "./abstracts" as *;
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import "~normalize.css";

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 55%;
  color: hsl(var(--foreground));
  @include breakpoint(medium) {
    font-size: 62.5%;
  }
}

$font-sizes: (
  h1: (
    var(--h1),
  ),
  h2: (
    var(--h2),
  ),
  h3: (
    var(--h3),
  ),
  h4: (
    var(--h4),
  ),
  h5: (
    var(--h5),
  ),
  h6: (
    var(--h6),
  ),
);

@each $header, $sizes in $font-sizes {
  #{$header} {
    font-size: $sizes;
    font-family: "Khand", sans-serif;
    color: hsl(var(--foreground));
    margin: 0;
  }
}

p,
a,
b,
span,
strong,
i,
u,
em,
label {
  font-family: "Open Sans", sans-serif;
  color: hsl(var(--foreground));
  font-size: var(--p);
  line-height: 1.2;
  text-decoration: none;
  margin: 0;
}

a {
  color: hsl(var(--link));
}

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: var(--p);
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
